//Sans-serif: Proxima-nova
.sans-light {
  font-family: $proxima-nova;
  font-weight: 200;
}
.sans-regular {
  font-family: $proxima-nova;
  font-weight: 300;
}
.sans-medium {
  font-family: $proxima-nova;
  font-weight: 400;
}
.sans-bold {
  font-family: $proxima-nova;
  font-weight: 700;
}
.sans-black {
  font-family: $proxima-nova;
  font-weight: 800;
}
