h1, h2, h3, h4, h5, h6, p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  letter-spacing: .04em;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: $rubik-regular;
  font-weight: 400;
}