/* Swipe Box */
#swipebox-overlay {
  background-color: black !important;
}

#swipebox-close {
  width: 40px !important;
  height: 40px !important;
  top: 10px !important;
  right: 10px !important;
  background-image: url(/static/images/icon-white_ex.png) !important;
  background-size: 50% !important;
  background-position: 50% 50% !important;
}

#swipebox-bottom-bar {
  height: 100% !important;
  width: 100% !important;
  opacity: 0 !important;
  #swipebox-arrows {
    #swipebox-prev {
      position: absolute;
      left: 0;
      width: 50%;
      height: 100%;
      &:hover { cursor: url(/static/images/icon-arrow_left.png), auto !important; }
    }

    #swipebox-next {
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
      &:hover { cursor: url(/static/images/icon-arrow_right.png), auto !important; }
    }
  }
}

#swipebox-slider {
  .slide {
    img { max-height: 80% !important; }
  }
}
