$colors: (
  'white': #ffffff,
  'lightgrey': #E4E4E4,
  'midgrey': #BABABA,
  'darkgrey': #8F8F8F,
  'yellow': #FFBD00,
  'red': #FF0000,
  'black': #000000,
);

//Breakpoints (based on Bass)
$sm: 40em;
$md: 52em;
$lg: 64em;


//Heights
$header: 165px;

$gallery-container-width: 500vh;