
{% set photos = cms.stories|where('type', 'photography') %}
{% set paintings = cms.stories|where('type', 'painting') %}

<header class="header pt3 pb2 bg-white">
  <div class="col-11 mx-auto">
    <nav class="nav-wrapper flex items-center justify-between">
      <div class="col-3 md-col-2 lg-col-3 relative">
        <a href="/">
        <h1 class="logo m0 align-middle sans-medium">Kaarina Mackenzie</h1>
        </a>
      </div>

      <!-- Desktop/Tablet Nav -->
      <div class="nav-large col-9 md-col-6 flex items-center justify-between">
        <div class="dropdown-trigger pointer col-3 center relative">
          <h4 class="nav-item m0 align-middle pointer sans-light">Photography</h4>
          <div class="dropdown border absolute mt1 bg-white">
            <ul>
              {% for photo in photos %}
                <li><a href="{{url(photo)}}">{{photo.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="dropdown-trigger pointer col-3 center relative">
          <h4 class="nav-item m0 align-middle sans-light">Painting</h4>
          <div class="dropdown border absolute mt1 bg-white">
            <ul>
              {% for painting in paintings %}
                <li><a href="{{url(painting)}}">{{painting.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="dropdown-trigger pointer col-3 center relative">
          <h4 class="nav-item m0 align-middle sans-light">Work</h4>
          <div class="dropdown border absolute mt1 bg-white">
            <ul>
              <li>Burma</li>
              <li>Bhutan</li>
              <li>Beijing</li>
              <li>Colombia</li>
              <li>Shangri La</li>
              <li>Shanghai</li>
            </ul>
          </div>
        </div>
        <div class="contact nav-item pointer col-3 center">
          <a href="/contact">
            <h4 class="m0 align-middle sans-light">Contact</h4>
          </a>
        </div>
      </div>

      <!-- Mobile Nav -->
      <div class="nav-small z1">
        <div class="js_nav-trigger nav-trigger relative">
          <div class="top line absolute"></div>
          <div class="middle line absolute"></div>
          <div class="bottom line absolute"></div>
        </div>
      </div>
    </nav>
  </div>
</header>
