.photo-story {
  .content-wrapper {
    .gallery-container {
      width: 100%;
      .story-image-container img {
        width: 100%;
      }
    }

    .copy-container {
      @media (max-width: $md) {
        width: 91.66667%;
        margin-left: auto; margin-right: auto;
        margin-top: 16vh;
        margin-bottom: 2rem;
      }
    }
    @media (min-width: $md) {
      display: flex;
      &.slider-view {/* Horizontal slider view */
        .copy-container {
          @media (min-width: $md) {
            margin-left: 5%;
            padding-right: 2rem;
            background-color: color('white');
            margin-left: 20%;
          }
        }
        .gallery-container {
          height: 88vh;
          overflow: auto;
          white-space: nowrap;
          .story-image-container {
            width: auto;
            height: 100%;
            display: inline-block;
            margin-right: 1rem;
            .story-image {
              display: inline-block;
              width: auto;
              height: 99%;
            }
          }
        }
      }

      &.grid-view { /* Standard grid view */
        min-height: 90vh;
        .left-content-block {

          position: fixed;
          left: 0;
          bottom: 0;
          top: 0;
          .copy-container {
            @media (min-width: $md) {
              height: 100%;
              margin-top: 10vh;
              margin-left: 0;
              padding-right: 2rem;
              padding-left: 15%;
              background-color: color('white');
            }
          }
        }
        .gallery-container {
          @media (min-width: $md) { margin-left: 41.66667%; }
          @media (min-width: $lg ) { margin-left: 33.33333%; }
          .story-image-container {
            float: left;
            height: 30vh;
            margin: 0.5rem;

            .story-image {
              height: 100%;
              width: auto;
            }
          }
        }
      }
    }
  }
}

//View Icons
.icon-container {
  bottom: 10%;
  display: none;
  @media (min-width: $md) { display: block; }

  width: 100px;
  height: 25px;
  position: absolute;

  .grid-icon {
    width: 25px;
    height: 25px;
    position: relative;

    &:hover {
      .t-left-block {
        background: black;
        border-color: white;
        transform: translate(-1px, -1px);
      }
      .t-right-block {
        background: black;
        border-color: white;
        transform: translate(1px, -1px);
      }
      .b-left-block {
        background: black;
        border-color: white;
        transform: translate(-1px, 1px);
      }
      .b-right-block {
        background: black;
        border-color: white;
        transform: translate(1px, 1px);
      }
    }

    &.active {
      .t-left-block {
        background: black;
        border-color: white;
      }
      .t-right-block {
        background: black;
        border-color: white;
      }
      .b-left-block {
        background: black;
        border-color: white;
      }
      .b-right-block {
        background: black;
        border-color: white;
      }
    }

    .t-left-block {
      width: 11px;
      height: 11px;
      position: absolute;
      left: 0;
      top: 0;
      border: solid 1px black;
      transition: 200ms ease-in-out;
    }

    .t-right-block {
      width: 11px;
      height: 11px;
      position: absolute;
      right: 0;
      top: 0;
      border: solid 1px black;
      transition: 200ms ease-in-out;
    }

    .b-left-block {
      width: 11px;
      height: 11px;
      position: absolute;
      left: 0;
      bottom: 0;
      border: solid 1px black;
      transition: 200ms ease-in-out;
    }

    .b-right-block {
      width: 11px;
      height: 11px;
      position: absolute;
      right: 0;
      bottom: 0;
      border: solid 1px black;
      transition: 200ms ease-in-out;
    }
  }

  .slider-icon {
    bottom: 100%;
    position: relative;
    left: 50%;
    width: 25px;
    height: 25px;
    right: 0;
    margin-left: 2px;

    &:hover {
      .left-block {
        background: black;
        border-color: white;
        transform: translateX(-2px);
      }
      .middle-block {
        background: black;
        border-color: white;
      }
      .right-block {
        background: black;
        border-color: white;
        transform: translateX(2px);
      }
    }

    &.active {
      .left-block {
        background: black;
        border-color: white;
      }
      .middle-block {
        background: black;
        border-color: white;
      }
      .right-block {
        background: black;
        border-color: white;
      }
    }

    .left-block {
      position: absolute;
      height: 23px;
      width: 7px;
      left: 0;
      border: solid 1px black;
      transition: 200ms ease-in-out;
    }

    .middle-block {
      position: absolute;
      height: 23px;
      width: 7px;
      left: 8px;
      border: solid 1px black;
      transition: 200ms ease-in-out;
    }

    .right-block {
      position: absolute;
      height: 23px;
      width: 7px;
      left: 16px;
      border: solid 1px black;
      transition: 200ms ease-in-out;
    }
  }
}
