$dropdown-transition: 250ms;
.header {
  .logo {
    font-size: 1.2rem;
    @media (min-width: $lg) {
      font-size: 1.4rem;
    }
  }

  .nav-large {
    display: none;
    @media (min-width: $sm) {
      display: flex;
    }
  }

  .nav-small {
    display: flex;
    .nav-trigger {
      width: 25px;
      height: 20px;

      .line {
        width: 100%;
        height: 2px;
        background: black;

        &.top {
          top: 0;
          transition: 100ms ease-out;
        }
        &.middle {
          top: 50%;
          transform: translateY(-50%);
          transition: 100ms ease-out;
        }
        &.bottom {
          bottom: 0;
          transition: 100ms ease-out;
        }
      }

      &.active {
        .top {
          transform: rotate(47deg);
          transform-origin: center;
          top: 52%;
        }
        .middle {
          width: 0;
        }
        .bottom {
          transform: rotate(-47deg);
          transform-origin: center;
          bottom: 41%;
        }
      }

    }
    @media (min-width: $sm ) {
      display: none;
    }
  }

  .nav-item {
    font-size: 1rem;
    @media (min-width: $lg) {
      font-size: 1rem;
    }
  }

  .dropdown-trigger {
    &:hover {
      color: color('yellow');
      .dropdown {
        color: color('black');
        li {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .contact {
    transition: $dropdown-transition ease-in-out;
    a {
      &:hover {
        color: color('yellow');
      }
    }
  }

  .dropdown {
    left: 50%;
    transform: translateX(-50%);
    min-width: 100px;
    z-index: 2;
    height: 0;
    opacity: 0;
    visibility: hidden;
    right: 0;
    transition: $dropdown-transition ease-in-out;
    padding: 0 1rem 2rem;
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: .5rem;
        opacity: 0;
        transition: $dropdown-transition ease-in-out;
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;
      height: 200px;
      li {
        opacity: 1;
        transition-delay: $dropdown-transition;
      }
    }
  }
}
