.mobile-nav {
  visibility: hidden;
  opacity: 0;
  transition: 200ms ease-in-out;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background: white;
  z-index: 1;
  position: fixed;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .mobile-nav-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    .nav-section {
      flex-wrap: wrap;
      .nav-section-wrapper {
        justify-content: space-around;
      }
    }
  }

  @media (min-width: $md) {
    display: none;
  }
}
