#contact {
  min-height: 88vh;
  @media (min-width: $md) {
    min-height: 90vh;
  }

  .image-block, .content-block {
    @media (min-width: $md) {
      min-height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .pic {
    width: 100%;
    padding-bottom: 2rem;
    @media (min-width: $md) {
      width: 75%;
    }
  }

  .email, .handle {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
