.index {
  .story-block-container {
    .overlay {
      text-align: left;
      .story-link {

      }
    }
    @media (min-width: $md) {
      .overlay {
        position: absolute;
        transform: translate(-40%, -40%);
        opacity: 0;
        visibility: hidden;
        color: white;
        .story-name {
          opacity: 0;
          transition: 350ms ease-in-out;
          transition-delay: 100ms;
        }
      }

      &:hover{
        .story-block {
          filter: blur(2px);
        }

        .overlay {
          opacity: 1;
          visibility: visible;
          filter: none !important;

          .story-name {
            opacity: 1;
            transform: translate(80%, -100%);
          }
        }
      }
    }
    .story-block {
      min-height: 42vh;
      transition: 200ms ease;
    }
  }
}
