{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH stories #}
{# This page can use any data from http:localhost:2000/cms/#/form/stories/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this stories's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}


{% block content %}
  <div class="photo-story">
    <div class="content-wrapper slider-view">
      <div class="left-content-block col-12 md-col-5 lg-col-4">
        <div class="copy-container">
          <div class="header pb1">
            <h3>{{item.name}}</h3>
          </div>
          <p>{{item.story_description}}</p>
          <div class="icon-container">
            <div class="js_grid-trigger grid-icon pointer">
              <div class="t-left-block"></div>
              <div class="t-right-block"></div>
              <div class="b-left-block"></div>
              <div class="b-right-block"></div>
            </div>
            <div class="js_slider-trigger slider-icon pointer">
              <div class="left-block"></div>
              <div class="middle-block"></div>
              <div class="right-block"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-container md-col-10">
        {% for image in item.gallery %}
          <div class="story-image-container grid-item py1">
            <a href={{image.url}} class="lightbox">
              <img class="story-image" src="{{ image.url}}">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
