{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{# THE HOMEPAGE ITERATES OVER A GRID OF STORIES #}
{% set stories = cms.stories %}


{% block content %}
<div class="index clearfix pt2">
  <div class="col-12 mx-auto">
    <div class="clearfix p1">
      {% for story in stories| slice(0,6) %}
        <div class="story-block-container col col-12 sm-col-6 lg-col-4 center p1 pointer relative">
          <div class="story-block" style="background-image:url('{{story.display_image.url}}'); background-size: cover; background-position: 50% 50%;">
          </div>
          <div class="overlay absolute">
            <h3 class="story-name mb1">{{story.name}}</h3>
            <h5 class="story-link mx-auto rubik-regular">
              <a href="{{url(story)}}">
                View Story
              </a>
            </h5>
          </div>
        </div>
      {% endfor %}
    </div>
  <div>
</div>
{% endblock %}
